body{
    background-color: black;
}

table {
    border: medium solid;
    border-collapse: collapse;
    width: 50%;
    border-radius:15px;
    margin-left: auto; margin-right: auto;
}
th {
    font-family: monospace;
    width: 50%;
    padding: 5px;
    background-color: #FF7F50;
    color:white;
}
td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}

td:hover{
    background-color: #eadeb8;

}

#bgimg{
    height: 500px;
    background: url(../Images/head.jpg) no-repeat center fixed;
    background-size: cover;
}

h1,h2{
    text-align:center;
    font-family: monospace;
    color: white;
}

.edition{
    background-color:grey;
    padding-top : 25px;
    padding-bottom:25px;
}