body{
    background-color: black;
}

table {
    border: medium solid;
    border-collapse: collapse;
    width: 50%;
    border-radius:15px;
    margin-left: auto; margin-right: auto;
}

th {
    font-family: monospace;
    width: 50%;
    padding: 5px;
    background-color: #FF7F50;
    color:white;
}
td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}

td:hover{
    background-color: hotpink;
    color : white;
}

#bgimg{
    height: 500px;
    background: url(../Images/head.jpg) no-repeat center fixed;
    background-size: cover;
}

h1,h2{
    text-align:center;
    font-family: monospace;
    color: white;
}

.edition{
    background-color:grey;
    padding-top : 25px;
    padding-bottom:25px;
}

.afficher{
    margin-left: auto; 
    margin-right: auto;
}

/*#volet {
    position: relative;
    left: -400px; top : -500px;
    width: 300px;
    padding: 10px;
    background: #6B9A49; color: #fff;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
#volet a.fermer {
    display: none;
}

#volet a.ouvrir,
#volet a.fermer {

    padding: 10px 25px;
    background: #555;
    color: #fff;
    text-decoration: none;
    position: absolute;
    right: -88px;
    top: 150px;

    /* quelques styles CSS3 */
    /*-ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}

#volet:target {
    left: 0;
}

#volet_clos:target #volet {
    left: -270px;
}
#volet:target a.ouvrir {
    display: none;
}
#volet:target a.fermer {
    display: block;
}

.editCren{
    width: 400px;
}*/